<a href='/' class="go-back" alt="go back to the homepage">Go back</a>

<article class="post post-detail">
  <h4>{{data.score}}</h4>

  <div class="meta">
    <h3>{{data.title}}</h3>
    <ul>
      <li>{{data.subreddit}}</li>
      <li>{{data.author}}</li>
    </ul>
  </div>
  <img src={{data.thumbnail}} alt={{data.title}} />
</article>