<h1>{{title}}</h1>
{{#each data}}
<article class="post">
  <h4>{{this.score}}</h4>

  <div class="meta">
    <a href='/{{this.subreddit}}/{{this.id}}'>
      <h3>{{this.title}}</h3>
    </a>
    <ul>
      <li>{{this.subreddit}}</li>
      <li>{{this.author}}</li>
    </ul>
  </div>
  {{#if this.bigImg}}
  <img src="{{this.bigImg}}" srcset="{{this.bigImg}} 800w,
{{this.thumbnail}} 600w" sizes="(min-width: 768px) 150px,
100px" alt={{this.title}} />
  {{else}}
  <img src="{{this.thumbnail}}" srcset="{{this.thumbnail}} 800w,
{{this.thumbnail}} 600w" sizes="(min-width: 768px) 150px,
100px" alt={{this.title}} />

  {{/if}}
  </a>
</article>
{{/each}}